header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 30px;
    flex-grow: 1;
    text-align: center;
}

header ul {
    flex-grow: 1;
    padding: 0;
    margin: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

header ul li a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 20px;
    color:#050303fa;
    transition: all 0.3s;
}


header ul li a:hover, header ul li a.active{
    color:#eb1d1dcc;
    border-bottom: 2px solid #f80000fa;
}


@media only screen and(min-width:1200px)
{

    h1 {
        text-align: left;
    }
    
    header ul{
     justify-content: flex-end;
    }
}